{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}{{page_title}}{% endblock %}

{% block content %}
<div class="custom-center-area-70">
        <h1>Liste der User</h1>


        <table class="table">
            <tr>
                <th>Username</th>
                <th>Nachname</th>
                <th>Vorname</th>
                <th>E-Mail</th>
                <th>aktiv?</th>
                <th></th>
            </tr>

    {% for luser in users%}
        <tr>
            <td>
                {{ luser.username }}
            </td>
            <td>
                {{ luser.last_name }}
            </td>
            <td>
                {{ luser.first_name }}
            </td>
            <td>
                {{ luser.email }}
            </td>
            <td>
                {% if luser.is_active %} Ja {% else%} Nein {% endif %}
            </td>
            <td>
                {% if luser.id != user.id %}
                <a href="{% url 'users_active_inactive' id=luser.id page=page %}"> {% if luser.is_active %} deaktivieren {% else%} aktivieren {% endif %} </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
        </table>
        
    <nav>
        <ul class="pagination">
            <li {% if 1 == page %} class="disabled" {% endif %}>
                <a  href="{% url 'users' page=1  %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
    {% for count in pageRange %}
            <li {% if count == page %} class="active" {% endif %}><a  href="{% url 'users' page=count  %}">{{count}}</a></li>
    {% endfor %}
            <li {% if pageNum == page %} class="disabled" {% endif %}>
                <a href="{% url 'users' page=pageNum  %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

      
</div>
{% endblock %}
