{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %} Nachrichten {% endblock %}

{% block toggle_login %}{% endblock %}
<script src="http://malsup.github.com/jquery.form.js"></script>
{% block content %}
<div class="custom-center-area">

   
   
        <form action="" method="post" accept-charset="utf-8">
            {% bootstrap_form form  %}
            
            {% csrf_token %}
            <input type="hidden" name="next" value="/" />
            {% buttons  %}
                <button type="submit" class="btn btn-primary" style="float:left">
                    {#% bootstrap_icon "star" %#} Absenden
                </button>
           {% endbuttons %}
          
        </form>




    <br><br><br><hr>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-14 col-md-offset-0">
        {% for msg in allMsg%}

            <div class="custom-comment">
                <div class="row comment-head">
                    <div class="col-md-2">
                        Von: <b>{{msg.from_user.username}}</b>
                    </div>
                     <div class="col-md-7">
                         <a data-toggle="collapse" href="#col-{{msg.id}}" aria-expanded="false" aria-controls="col-{{msg.id}}"> <b>  {{msg.subject}}</b> </a>
                    </div>
                    <div class="col-md-3 comment-date">
                         <b>{{msg.msgdate|date:'d.m.Y H:i'}} </b>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                    <div class="collapse" id="col-{{msg.id}}"><div class="well">  {{msg.text}}  </div> <a style="float:right;" href="{% url 'userauth_delete_msg' mid=msg.id%}">delete</a> </div>
                        
                    </div>
                </div>
            </div>

        {% endfor %}
            </div>
        </div>
    </div>



</div>

{% endblock %}


