{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}{{page_title}}{% endblock %}
{{ search }}
{% block content %}
<div class="custom-center-area-70">
        <h1 style="display: inline; ">Liste der Bücher </h1>
        
        {% if TitelSearch != '' %} 
        
        <span><b>Suche nach: {{TitelSearch}} </b></span>
        <form  style="display: inline; " method="post"  role="" action="{% url 'booksearch'  %}">
           {% csrf_token %}
           <input name="search" type="hidden" class="form-control" placeholder="Titel Suche">
            <button style="display: inline; " type="submit" class="btn btn-default">Suche Löschen</button>
        </form>
        
        {% endif %}
        
        {% if perms.add_book %}
        <br>
        <a href="{% url 'addBook' %}" class="btn btn-primary">Buch zufügen</a>
        {% endif %}
        {% if perms.add_author %}
        <a href="{% url 'addAuthor' %}" class="btn btn-primary">Autor zufügen</a>
        {% endif %}
        <table class="table">
            <tr>
                <th><a href="{% url 'booksrating' order='title' %}" >Title<a></th>
                <th>Autoren</th>
                <th><a href="{% url 'booksrating' order='rating' %}" >Bewertungen<a></th>
                <th>&nbsp;</th>
            </tr>
    {% for book in books%}
        <tr>
            <td><a href="{% url 'detailBook' pk=book.pk %}">{{ book.title }}</a></td>
            <td>
                {% for a in book.authors.all %}{# |join:', ' #}
                {{ a }}<br />
                {% endfor %}
                {#{ book.authors.all|join:', ' }#}
            </td>
            <td>

                <p>{{ book.printAvgRating }}</p>
             
            </td>
            <td>
                {% if perms.add_book %}
                <a href="{% url 'editBook' pk=book.pk %}">{% bootstrap_icon 'edit' %}</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
        </table>
        

    
    {% if number > 0 %}
    <nav>
        <ul class="pagination">
            <li {% if 1 == page %} class="disabled" {% endif %}>
                <a  href="{% url 'books' page=1  %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
    {% for count in pageRange %}
            <li {% if count == page %} class="active" {% endif %}><a  href="{% url 'books' page=count  %}">{{count}}</a></li>
    {% endfor %}
            <li {% if pageNum == page %} class="disabled" {% endif %}>
                <a href="{% url 'books' page=pageNum  %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    {% else %}
        <br><br>
            <b> Nichts gefunden!</b>
        <br><br>
    {% endif %}


      
</div>
{% endblock %}
