{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}{{page_title}}{% endblock %}

{% block content %}


<div class="custom-book-cover">
     <img src="{{MEDIA_URL}}{{book.cover}}" alt="Cover" height="300" width="200"> 
</div>


<div class="custom-book-details">
    <h1>{{ book }}</h1>

    <p>
    {% for author in book.authors.all%}
         <span style="margin-right:10px;" >{{ author }}</span>
    {% endfor %}
    </p>

    <p> <b>ISBN: </b>{{ book.isbn }}</p>
    <p> <b>Beschreibung: </b></p><p>{{ book.description }}</p>
</div>

<div class="custom-book-add">
    {% if avg %}
    <b>Durchschnittliche Bewertung: {{ avg }}</b>
    {% endif %}
    {% if count %}
    <p>Anzahl Bewertungen: {{count}}</p>
    {% endif %}


    <div>
    {% if ownRating == 0 %}

    <b>Sie haben dieses Buch noch nicht bewertet:</b>
    <form class="form-inline" role="form" method="post" action="{% url 'rateBook' pk=book.id %}" >
        <div class="form-group">
        {% for field in form2%}
        {{ field }}
        {% endfor %}
        </div>
        {% csrf_token %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary" style="float:left">
                 bewerten
            </button>
       </div>
    </form>


    {% else %}
    <b>Sie haben dieses Buch schon  bewertet: {{ ownRating }}</b>
    {% endif %}


    </div>
    <div>
        {% if owning == 0 %}
        <br><br>
        <b>Geben Sie an, ob Sie dieses Buch besitzen und ob Sie es bereits gelesen haben:</b>
        <form class="form-inline" role="form" method="post" action="{% url 'ownBook' pk=book.id %}" >
            {% csrf_token %}
            {% bootstrap_form form3 layout='inline' %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" style="float:left">
                         speichern
                    </button>
               </div>
         </form>
        {% else %}
        <b>Sie haben ihre Angaben schon gemacht:<br> </b>
        <span>Buch gelesen: {{ owning.own }}</span><br>
        <span>Buch gehört mir: {{ owning.read }}</span>
        {% endif %}
    </div>
</div>
   
   
   
   
   
   
   
   
   
   
   
   
   
</div>


<hr>

<hr>
<h2>Kommentare:</h2>
<hr>
<div class="custom-comment-area">
<form action="{% url 'commentBook' pk=book.id %}" method="post" accept-charset="utf-8">
    {% bootstrap_form form %}
    {% csrf_token %}
    
    {% buttons %}
        <button type="submit" class="btn btn-primary" style="float:left">
            {#% bootstrap_icon "star" %#} Abschicken
        </button>
   {% endbuttons %}
  
</form>
</div>
<br><br><hr>
    {% for comment in comments%}
        <div class="custom-comment">
        {{comment.text}}  {{comment.user.username}} {{comment.commentdate|date:'d.m.Y H:i'}}
        </div>
    {% endfor %}



{% endblock %}