{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}{{page_title}}{% endblock %}

{% block content %}

<!--<script>

$( document ).ready(function() {


$('#id_isbn').change(function() {
alert( "Handler for .change() called." );
var input = $('#id_isbn').val();
$('#formAU').append($(input));
});

});

</script>-->



<script src="http://malsup.github.com/jquery.form.js"></script>
    <script> 
        $(document).ready(function() { 
            a = $('#formAU').ajaxForm(function() { 
                $('#InfoBox').css('visibility','visible');
                $('#btn_col').trigger('click');
                $('#id_firstname').val(""); 
                $('#id_lastname').val(""); 
                setTimeout(function() {
                        location.reload(); 
                }, 500);
               
            }); 
            c = $('#formCA').ajaxForm(function() { 
                $('#InfoBox2').css('visibility','visible');
                $('#btn_col2').trigger('click');
                $('#id_categoryname').val("");      
                setTimeout(function() {
                    location.reload(); 
                }, 500);
            });           
        }); 
    </script> 

    

<div style="width:100%">

        <h1>{{ page_title }}</h1>
    <form  method="post" enctype="multipart/form-data" action="" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form book_form layout='horizontal' %}
        {% buttons layout='horizontal' %}
        <button type="submit" class="btn btn-primary" name="submit" value="submit">
         {#% bootstrap_icon "star" %#} Speichern
        </button>
        {% if not new %} 
        <button type="submit" class="btn btn-primary" name="delete" value="delete">
         {#% bootstrap_icon "star" %#} Löschen
        </button>
        {% endif %} 
   <a id="btn_col" class="btn btn-default" data-toggle="collapse" href="#a" aria-expanded="false" aria-controls="a">neuer Autor</a>
        <span id="InfoBox" style="visibility:hidden; color:green; "> Autor angelegt!</span>
   <a id="btn_col2" class="btn btn-default" data-toggle="collapse" href="#c" aria-expanded="false" aria-controls="c">neue Kat</a>
        <span id="InfoBox2" style="visibility:hidden; color:green; "> Kategorie angelegt!</span>       
        
        
<!--
        <a id="btn_col" class="btn btn-default" data-toaggle="collapse" href="#collapseCategory" aria-expanded="false" aria-controls="collapseCategory"> Kategorie </a>
        <span id="InfoBox" style="visibility:hidden; color:green; "> Kategorie angelegt!</span>
-->
        {% endbuttons %}
    </form>


<div class="collapse" id="a">
  <div class="well">
   
   
    <form id="formAU" method="post" enctype="multipart/form-data" action="{% url 'book_author_add' %}" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form author_form layout='horizontal' %}
        {% buttons layout='horizontal' %}

        <button type="submit" class="btn btn-primary">
         {#% bootstrap_icon "star" %#} Submit
        </button>
        {% endbuttons %}
    </form>
   

   
  </div>
</div>


<div class="collapse" id="c">
  <div class="well">

    <form id="formCA" method="post" enctype="multipart/form-data" action="{% url 'book_category_add' %}" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form category_form layout='horizontal' %}
        {% buttons layout='horizontal' %}

        <button type="submit" class="btn btn-primary">
         {#% bootstrap_icon "star" %#} Submit
        </button>
        {% endbuttons %}
    </form>
  </div>
</div>



</div>
{% endblock %}