
*{
    box-sizing: border-box;
}


.custom-book-add {
    float: left;
    padding: 10px;
    margin: 20px;
    width:30%;
    height: 400px;
    /*background-color: yellow;*/
    border: 1px solid #5e5e5e;
    border-radius: 8px;
}


.custom-book-details{
    padding: 10px;
    float: left;
    margin: 20px;
    width:40%;
    background-color: silver;
}
.custom-book-cover{
    float: left;
    margin: 20px;
    max-width:30%;
}
.page-header{
    height: 100px;
}

.custom-center-area{
  
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 50%;
 
    background-color: white;
}

.custom-center-area-70{
  
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 70%;
    background-color: white;
}
.custom-comment-area{
 
    clear: both;
    padding: 10px;
    margin: 15px;
    width: 57%;
    border: 1px solid #5e5e5e;
    border-radius: 8px;
}

.custom-comment{

    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid #8f8f8f;
    border-radius: 8px;
}

.comment-date{
    text-align: right;
}
.comment-head{
}

.custom-space{
    margin-top: 60px;
}

.btn{
    margin-right: 10px;
}