
*{
    box-sizing: border-box;
}






.custom-book-add {
    padding: 10px;
    border: 1px solid #5e5e5e;
    border-radius: 8px;
}


.custom-book-details{
    padding: 0px 10px;
}
.custom-book-details h1{
    margin: 0px;
    line-height: 1;
}
.custom-book-cover{
}
.custom-book-cover img{
    width: 100%;
    height: auto;
}
.page-header{
    height: 100px;
}
.custom-head-area{
width: 70%;

float:right;
height:140px;

}
.custom-center-area{
  
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 50%;
 
    background-color: white;
}

.custom-center-area-70{

    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 80%;
    background-color: white;
}
.custom-center-area-100{
  
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 80%;
    background-color: white;
}
.custom-comment-area{
 
    clear: both;
    padding: 10px;
    border: 1px solid #5e5e5e;
    border-radius: 8px;
}

.custom-comment{

    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid #8f8f8f;
    border-radius: 8px;
}

.comment-date{
    text-align: right;
}
.comment-head{
}

.custom-space{
    margin-top: 60px;
}

.btn{
    margin-right: 10px;
}


/***INDEX**************************************************************/

div.index-title{
    height: 100px;
}

img.index-cover{
    height: auto;
    width: 90%;

}

div.index-persons{
    height: 100px;
}

a.index-title{
    font-weight: 600;
    color: #3355ff;
    font-size: 1.1em;
}