<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    {% load bootstrap3 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>{% block title %}Medialib{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>

<div class="page-header"  style="background: url('{% static 'img/blue2.png' %}') repeat-x left top;" >
      <h1 class="main-headline" >MediaLib <small>A media library </small></h1>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% if curPage == 'books' %}class="active"{% endif %}><a href="{% url 'books' page=1  %}" >Buch <span class="sr-only">(current)</span> </a></li>
        <li {% if curPage == 'films' %}class="active"{% endif %}><a href="{% url 'films' page=1  %}" >Film <span class="sr-only">(current)</span></a></li>

       {% if user.is_authenticated %} <li {% if curPage == 'profile' %}class="active"{% endif %} ><a href="{% url 'userauth_profile' %}">Profil</a></li>{% endif %}
       {% if user.is_authenticated %} <li {% if curPage == 'msg' %}class="active"{% endif %} ><a href="{% url 'userauth_write_msg' %}">Nachrichten</a></li>{% endif %}
  
        {% if perms.add_author or perms.change_permissions or perms.add_participantlis %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Contentmanager<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            {% if perms.add_author %}
                <li><a href="{% url 'authorlist' %}" >Autorenliste</a></li>
            {% endif %}
             <li class="divider"></li>
             {% if perms.add_participantlis %}
             <li><a href="{% url 'participantlist' %}" >Mitwirkendenliste</a></li>
             {% endif %}
             <li class="divider"></li>
            {% if perms.change_permissions %}
            <li><a href="{% url 'users' page=1 %}" >Userliste</a></li>
            {% endif %}
          </ul>
        </li>
        {% endif %}
        
      </ul>

      <ul class="nav navbar-nav navbar-right">
        
        <li>
        {#% block toggle_login %#}
        {% include "userauth/toggle_login.html" %} 
        {#% endblock %#}
        </li> 

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% bootstrap_messages %}
{% block content %}
{% endblock %}

<div class="custom-space container text-center">
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="/">© 2013</a></li>
                <li><a href="#">Impressum</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>

