{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}{{page_title}}{% endblock %}

{% block content %}
<div class="custom-center-area-70">
      
 <h1 style="display: inline; ">Liste der Filme </h1>
       
       
       <div   class="custom-head-area" > 
      
           <div   style="width:40%; float:left; "> 

               <form style=" " method="post"  role="" action="{% url 'filmsearch'  %}">
                    {% csrf_token %}
                    <div class="form-group">
                            <input style="float:left; width:60%" name="search" maxlength="20" type="text" class="form-control" placeholder="Titel Suche">
                    </div>
                    <button style="display:float:left;" type="submit" class="btn btn-default">Suchen</button>
                </form>
     
            </div> 
             
             
             <div   style="width:40%; float:right; "> 

               <form style=" " method="post"  role="" action="{% url 'filmsfilter'  %}">
                    {% csrf_token %}
                    <div class="form-group">
                            <select style="float:left;  width:60%" name="filter"  class="form-control">
                                <option></option>
                                <option>gesehen</option>
                                <option>nicht gesehen</option>
                            </select>
                    </div>
                    <button style="display:float:left;" type="submit" class="btn btn-default">Filter</button>
                </form>
     
            </div> 
           

           <div   style="width:40%; float:left; "> 
            {% if TitelSearch != '' %} 
            <p><b>Suchbegriff: {{TitelSearch}} </b></p>
            <form  style="display: inline; " method="post"  role="" action="{% url 'filmsearch'  %}">
               {% csrf_token %}
               <input name="search" type="hidden" class="form-control" placeholder="Titel Suche">
                <button style="display: inline; " type="submit" class="btn btn-default">Suche Löschen</button>
            </form>
          {% endif %}
          </div> 
          
          <div   style="width:40%; float:right; "> 
           {% if filter != '' %} 
            <p><b>Filter: {{filter}} </b></p>
            <form  style="display: inline; " method="post"  role="" action="{% url 'filmsfilter'  %}">
               {% csrf_token %}
               <input name="search" type="hidden" class="form-control" placeholder="Titel Suche">
                <button style="display: inline; " type="submit" class="btn btn-default">Filter Löschen</button>
            </form>
           {% endif %}
           </div> 
           
        
         </div> <!-- head area -->
       
        <table class="table">
            <tr>            
                <th>
                <a href="{% url 'filmsrating' order='title' %}" >Title<a> 
                {% if orderBy == 'title' %}
                <img src="{{STATIC_URL}}img/{{orderImg}}.gif" alt="."> </img></th>
                {% endif %}
                <th>Mitwirkende</th>
                <th>
                <a href="{% url 'filmsrating' order='rating' %}" >Bewertungen<a>
                {% if orderBy == 'rating' %}
                <img src="{{STATIC_URL}}img/{{orderImg}}.gif" alt="."> </img>
                {% endif %}
                </th>
                <th> 
                {% if perms.add_film %}
                <a href="{% url 'addFilm' %}" class="btn btn-primary">neuer Film</a>
                {% endif %}
                </th>
            </tr>
    {% for film in films%}
        <tr>
            <td><a href="{% url 'detailFilm' pk=film.pk %}">{{ film.title }}</a></td>
            <td>
                {% for a in film.participants.all %}
                {{ a }}<br />
                {% endfor %}
            </td>
            <td>

                <p>{{ film.printAvgRating }}</p>
             
            </td>
            <td>
                {% if perms.add_film %}
                <a href="{% url 'editFilm' pk=film.pk %}">{% bootstrap_icon 'edit' %}</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
        </table>
        

    
    {% if number > 0 %}
    <nav>
        <ul class="pagination">
            <li {% if 1 == page %} class="disabled" {% endif %}>
                <a  href="{% url 'films' page=1  %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
    {% for count in pageRange %}
            <li {% if count == page %} class="active" {% endif %}><a  href="{% url 'films' page=count  %}">{{count}}</a></li>
    {% endfor %}
            <li {% if pageNum == page %} class="disabled" {% endif %}>
                <a href="{% url 'films' page=pageNum  %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    {% else %}
        <br><br>
            <b> Nichts gefunden!</b>
        <br><br>
    {% endif %}


      
</div>
{% endblock %}
